
@{
    Layout = "_Layout";
}
<div class="infojuego">
    <img style="padding-top:2%;" src="~/Imagenes/ImgBR.svg" />
    <h2>UN MUNDO DONDE VALE TODO</h2>
    <p>
        La Guerra de la Frontera ha terminado. Tras décadas de conflicto entre IMC y la Milicia que se creó para combatirla, la paz ha llegado por fin a la remota región del espacio conocida como La Frontera.

        Pero la liberación a veces tiene un precio: los planetas de la Frontera quedaron arrasados por las hostilidades y las ayudas prometidas se quedaron en nada. Sin medios para sustentarse, quienes habían quedado allí no tuvieron otra opción que abandonar sus hogares. Los más valientes se trasladaron a las Tierras Salvajes.

        Las Tierras Salvajes, un remoto conjunto de planetas en los confines de La Frontera, no se habían visto afectadas por la guerra y eran abundantes en recursos y oportunidades. Sin embargo, la vida allí tiene muy poco valor, y el peligro amenaza detrás de cada esquina. Los pioneros, exploradores y forajidos que las habitan solían pasar su vida enzarzados en una eterna lucha de poder, pero ahora resuelven sus diferencias en los Apex Games, un cruento deporte donde leyendas de todos los confines de La Frontera se enfrentan por lograr dinero, fama y gloria.
    </p>
</div>
<div class="contenedor">
    <img src="~/Imagenes/leyendasfondo.png" />
    <div class="leyendas">
        <h2>LAS LEYENDAS</h2>
        <p>Selecciona entre un grupo de forajidos, soldados, rebeldes y misántropos, cada uno con su propio conjunto de habilidades. Los Apex Games están abiertos a todo el mundo. Si sobrevives lo suficiente, te convertirás en una leyenda.</p>
        <a href="~/Personajes"><input type="button" value="Descubre el elenco"/></a>
    </div>
</div>
<div class="grid">
    <div class="estrategia">
        <img src="~/Imagenes/JuegoEstrategico.jpg" />
        <h3>Juego estratégico por escuadrones</h3>
        <p>Tanto si luchas en una ciudad flotante descomunal en Battle Royale como si te enfrentas en Arenas a corta distancia, tendrás que pensar rápido. Domina las habilidades únicas de tu leyenda y coordínate con tus compañeros de equipo para descubrir nuevas tácticas y combinaciones potentes. </p>
    </div>
    <div class="combate">
        <img src="~/Imagenes/CombateInnovador.jpg" />
        <h3>Combate innovador</h3>
        <p>Domina un repertorio en expansión de armas y equipamiento potentes. Tendrás que moverte rápido y aprender los ritmos de cada arma para sacar el máximo partido a tu arsenal. Además, cámbialo todo en los modos por tiempo limitado y prepárate para un chorro de contenido nuevo cada temporada. </p>
    </div>
    <div class="universo">
        <img src="~/Imagenes/UniversoExpansion.jpg" />
        <h3>Universo en constante expansión</h3>
        <p>Apex Legends se desarrolla en un universo envolvente donde la historia sigue evolucionando, los mapas cambian cada temporada y nuevas leyendas se siguen uniendo a la lucha. ¡Deja tu marca en los Apex Games con multitud de atuendos característicos y aviéntate a la aventura!</p>
    </div>
</div>