
@{
    Layout = "_Layout";
}
<body>
    <div class="inicio" style="padding-top:10%">
        <h1>DESCUBRE LOS MAPAS DE LOS JUEGOS APEX</h1>
        <p>Cañón de los Reyes, Fin del mundo y Olympus. Has luchado y has muerto en ellos, pero ¿sabes por qué se eligieron? Hammond Robotics y el Sindicato de mercenarios parecen intervenir en todo lo que da forma al destino de la Tierras Salvajes... Obtén más información sobre los mapas en los que se celebran los Juegos Apex.</p>
        <section class="hacerflex">
            <a href="#arenas"><input type="button" value="Mapas de las Arenas" /></a>
            <a href="#battleroyal"><input type="button" value="Mapas del Battle Royal" /></a>
        </section>
    </div>
    <div class="menumapa" id="arenas">
        <h1>ARENAS</h1>
        <p>Cuando no haya dónde esconderse, deberás perfeccionar tus habilidades. A diferencia de la gran escala de los Juegos Apex, los mapas de las Arenas se han diseñado especialmente para una frenética acción 3 vs 3.</p>
        <section class="hacerflex2">
            <a href="#deposito"><input type="button" value="Depósito" /></a>
            <a href="#h4"><input type="button" value="Hábitat 4" /></a>
            <a href="#bis"><input type="button" value="Bis" /></a>
            <a href="#desborde"><input type="button" value="Desborde" /></a>
            <a href="#asistente"><input type="button" value="Asistente sorpresa" /></a>
            <a href="#fases"><input type="button" value="Saltafases" /></a>
            <a href="#rotacion"><input type="button" value="Mapas en rotación" /></a>
        </section>
    </div>
    <div class="textoarena">
        <section id="deposito">
            <img src="~/Imagenes/Mapas/arenasdeposito.jpg" width="100%" />
            <h1>DEPÓSITO</h1>
            <p>Uno de los edificios más altos de Malta es la torre de fabricación completamente automatizada de Hammond. La azotea queda expuesta debido a la altura y a la ausencia de personas. Unidos por el odio hacia las grandes corporaciones de las Tierras Salvajes, los combatientes toman posesión del lugar por la noche para celebrar violentos encuentros de Arenas bajo un cielo cubierto de contaminación. A todos les encanta. Los participantes disfrutan del aliciente del peligro y se obtienen beneficios en una propiedad de Hammond delante de sus narices.</p>
        </section>
        <section id="h4">
            <img src="~/Imagenes/Mapas/arenash4.jpg" width="100%" />
            <h1>HÁBITAT 4</h1>
            <p>Punto Tormenta no es más que una de las muchas islas que conforman el archipiélago de Nueva Antilla. Hábitat 4 es uno de los islotes más pequeños, un famoso terreno de cría de leviatanes. Los primeros grupos de investigación que envió IMC se sorprendieron al descubrir una gran población de leviatanes locales cuyas vidas giraban en torno al islote, y decidieron que Hábitat 4 fuera una base etológica para estudiar el comportamiento de la especie. Más de un siglo después, y ya sin la presencia de IMC, los gigantes apacibles que fueron su objeto de estudio han seguido con sus vidas.</p>
        </section>
        <section id="bis">
            <img src="~/Imagenes/Mapas/arenasbis.jpg" width="100%" />
            <h1>BIS</h1>
            <p>Bis se encuentra en Boreas, donde Seer se labró un nombre. Cuando un meteorito impactó sobre la luna de aquel planeta, todos le echaron la culpa y empezaron a tratarlo como a un marginado maldito. Poco a poco fue atrayendo la atención de otros marginados que venían solo para verlo competir. Con el paso del tiempo, la Arena Bis se fue modificando para reflejar cada vez más el estilo de su competidor más importante.</p>
        </section>
        <section id="desborde">
            <img src="~/Imagenes/Mapas/arenasdesborde.jpg" width="100%" />
            <h1>DESBORDE</h1>
            <p>Tras el descubrimiento de trazas de brántium en los flujos de magma de Talos, Hammond Robotics puso en marcha diversos sistemas para extraerlo a toda costa, entre ellos, una plataforma procesadora automatizada: la Estación Hefesto, más conocida como Desborde. Desde que empezó a funcionar apenas ha visto presencia humana; sin embargo, cuando los organizadores de las Arenas se fijaron en sus espaciosas plataformas, pasó a desempeñar un doble propósito, minería industrial y escenario de caóticos combates.</p>
        </section>
        <section id="asistente">
            <img src="~/Imagenes/Mapas/arenasasistente.jpg" width="100%" />
            <h1>ASISTENTE SORPRESA</h1>
            <p>Mirage llevaba el Mirage Voyage por el punto caliente Kómma del planeta Solace, que anteriormente controlaba IMC, cuando perdió el control y lo estrelló en una plaza. Cualquier otra persona se habría pasado el resto de la vida pagando por semejante metedura de pata. Sin embargo, como esta ciudad de juego, antes próspera y repleta de antros y clubes donde se desarrollaban diversas actividades cuestionables, se convirtió en ciudad fantasma, Mirage, como buena leyenda de Apex, llegó a un acuerdo con los propietarios actuales. Con el respaldo de las próximas partidas de las Arenas, Mirage pagó su deuda: ayudó a reactivar la ciudad y la volvió a poner en el mapa.</p>
        </section>
        <section id="fases">
            <img src="~/Imagenes/Mapas/arenassaltafases.jpg" width="100%" />
            <h1>SALTA FASES</h1>
            <p>El saltafases de Olympus es único, pero no fue el primero: la comunidad científica de las Tierras Salvajes tenía que probar esta tecnología antes de poder instalarla en el paraíso intelectual de Lilian Peck. Construyeron un centro de investigación en una sección remota de Talos, donde probaron un prototipo truncado del saltafases. Hace tiempo que se abandonó, pero sigue intacto y funciona a la perfección. Las desavenencias respecto a la propiedad del terreno han brindado a las Arenas la oportunidad de organizar partidas sin ningún tipo de interrupción.</p>
        </section>
        <section id="rotacion">
            <img src="~/Imagenes/Mapas/arenasrotacion.jpg" width="100%" />
            <h1>MAPAS EN ROTACIÓN</h1>
            <p>Las Arenas son la competición sangrienta clandestina de las Tierras Salvajes y sus organizadores saben cómo celebrar una partida en prácticamente cualquier sitio. Además de las ubicaciones personalizadas, habrá tres mapas rotatorios quincenales en puntos de interés de las Tierras Salvajes. ¡Pon a prueba tus habilidades en Artillería del Cañón de los Reyes, Estación térmica de Fin del mundo, Jardines dorados de Olympus y mucho más!</p>
        </section>
    </div>
    <div class="menubr" id="battleroyal">
        <h1>BATTLE ROYALE</h1>
        <p>Ubicados en planetas por todas las Tierras Salvajes, en estos enormes paisajes se celebran los enormes Juegos Apex.</p>
        <section class="hacerflex3">
            <a href="#canonking"><input type="button" value="Cañon de los Reyes" /></a>
            <a href="#endworld"><input type="button" value="Fin del mundo" /></a>
            <a href="#olympus"><input type="button" value="Olympus" /></a>
            <a href="#tormenta"><input type="button" value="Punto Tormenta" /></a>
        </section>
    </div>
    <div class="textobr">
        <section id="canonking">
            <img src="~/Imagenes/Mapas/brcañonreyes.jpg" width="100%" />
            <h1>CAÑÓN DE LOS REYES</h1>
            <p>
                La isla denominada Cañón de los Reyes era un simple asentamiento en el planeta Solace que no prosperó hasta que IMC la eligió como centro de investigación y desarrollo. Contaba con una base aérea, una depuradora y un montón de instalaciones para las operaciones de IMC, como un proyecto top secret sobre el funcionamiento de la tecnología de fase o un programa radical para crear un simulacro de ejército activado por un solo cerebro. A primera vista, el Cañón de los Reyes era una sencilla instalación de IMC que, a pesar de los pesares, trajo estabilidad y puestos de trabajo a Solace.

                Para relajarse, los soldados de IMC destinados a este lugar competían en combates tipo gladiadores en una zona a la que apodaban «Cúpula del trueno». Años más tarde, cuando el Sindicato eligió al Cañón de los Reyes para celebrar su competición sangrienta, la Cúpula del trueno quedó intacta como tributo al predecesor de los Juegos Apex. La isla ha sufrido muchos cambios desde entonces: un asaltante desconocido derribó la torre repulsora, una explosión subterránea causó el derrumbe de la Cúpula del trueno y Villa calavera y una colisión de naves destruyó los acantilados del extremo norte de la zona. Da igual que cambie: siempre será el primer hogar de los Juegos Apex.

            </p>
        </section>
        <section id="endworld">
            <img src="~/Imagenes/Mapas/brfinmundo.jpg" width="100%" />
            <h1>FIN DEL MUNDO</h1>
            <p>
                Talos es un planeta inclemente con una intensa actividad volcánica. Aunque se creía inhabitable, se crearon pequeños asentamientos de luditas. Sin embargo, se convirtió en un hervidero de actividad de IMC cuando se descubrió un preciado compuesto mineral bajo su superficie. Se construyeron torres refrigerantes para enfriar mucho los ríos naturales de lava y permitir la extracción de recursos. Con cierto optimismo, se apodó a las instalaciones que las albergaban «Un nuevo amanecer» y la ciudad de Fin del mundo creció a su alrededor.

                Hace unas décadas, la explosión en una de estas torres dejó el área circundante cubierta por una letal nube congeladora instantánea. Fin del mundo quedó abandonada, salvo por unos cuantos habitantes que formaron una pequeña comunidad de cazadores. En tiempos, rechazaban la tecnología moderna, pero vacilantemente volvieron a aceptarla gracias a la guía de su amado héroe local, Bloodhound. Sin embargo, sus ruinas y la tierra rica en energía del planeta atrajeron la atención de dos grupos fundamentales: el Sindicato de mercenarios y Hammond Robotics. Hoy, Fin del mundo es la segunda residencia de los Juegos Apex y un centro operativo clave para Hammond Robotics, que instaló lo último en tecnología de minería moderna, el Recolector planetario, para comenzar su propia extracción de recursos.
            </p>
        </section>
        <section id="olympus">
            <img src="~/Imagenes/Mapas/brolympus.jpg" width="100%" />
            <h1>OLYMPUS</h1>
            <p>
                Olympus era una ciudad de ensueño, una utopía que flotaba en las nubes sobre Psámate. En este lugar, las mentes más brillantes de las Tierras Salvajes podían reunirse e intercambiar ideas que llevaban a avances en las ciencias y las artes. Sin embargo, un accidente en un laboratorio experimental creó una brecha de fase (una enorme burbuja de energía de fase) y los más brillantes de las Tierras Salvajes abandonaron rápidamente la ciudad. Respaldada por el Sindicato de mercenarios, Hammond Robotics pretendía transformar Olympus en un nuevo escenario para los Juegos Apex.

                Pero entonces una nave de la flota Ícaro llevó hasta Olympus un virus letal junto con las implacables enredaderas medusa. Aunque hallaron una cura para el virus, las enredaderas resistieron y mantuvieron la nave varada en la ciudad. Por si aquello fuera poco, se produjo un desastroso intento de trasladar Olympus a una nueva ubicación. La tecnología de fase falló, provocando la caída de la ciudad. Sus estructuras fueron cayendo por todo el terreno a medida que se asentaba. Estos cambios alteraron los Juegos y dieron lugar a nuevos retos para las leyendas.

            </p>
        </section>
        <section id="tormenta">
            <img src="~/Imagenes/Mapas/brtormenta.jpg" width="100%" />
            <h1>PUNTO TORMENTA</h1>
            <p>
                Esta isla desierta no siempre estuvo tan desierta. Hermosa y rebosante de recursos, Punto Tormenta fue la principal candidata para las primeras expediciones de IMC al planeta Gaea. Sin embargo, los equipos de asentamiento de IMC no tardaron en descubrir las intensas tormentas tropicales que azotan la isla. Así, se estableció un asentamiento permanente cerca, en la ciudad de Suotamo. La ciudad crecía e IMC construyó atrapatormentas en Punto Tormenta para generar la energía necesaria.

                Cuando la IMC se retiró de las Tierras Salvajes, los atrapatormentas empezaron a deteriorarse. En Punto Tormenta solo quedaron unos cuantos recursos y un atrapatormentas funcional, que sus ingenuos habitantes decidieron desmontar. La ausencia de atrapatormentas empeoró las tormentas cercanas, que se apoderaron de la isla. Posteriormente, un estudio de la zona reveló la existencia de asentamientos desconocidos, pero ningún superviviente. La isla quedó abandonada durante muchos años, salvo por el ocasional carroñero o pirata, hasta que llamó la atención del Sindicato de mercenarios.

                Conocían la existencia de tecnología antigua de IMC y sabían de la peligrosa fauna de Punto Tormenta, pero no lo letal que sería la isla hasta que el estruendo de una descomunal bestia marina activó las viejas defensas de IMC. Ahora, los espectros recorren unas armerías de IMC cargadas para ofrecer un nuevo reto a los competidores de los Juegos Apex.

            </p>
        </section>
    </div>
</body>