<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wikipedia De Apex-Legends </title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header style="text-align:center;padding-top:2%;margin-bottom:-6%;">
        <img src="~/Imagenes/ImgBR.svg" />
    </header>
    <nav>
        <a href="~/Administrador">Principal</a>
        <a href="~/Administrador/Habilidades">Administrar Habilidades</a>
        <a href="~/Administrador/Personajes">Administrar Personajes</a>
        <a href="~/home/Cerrarsesion">Cerrar Sesión</a>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>
